* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-wrapper {
    width: 700px;

    display: flex;
    justify-content: center;

    padding-top: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.card-wrapper {
    width: 60%;
    height: auto;

    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    background-color: bisque;
}

.image-wrapper {
    width: 100%;
    margin-bottom: 2rem;
}

.user-image {
    width: 100%;
    object-fit: cover;
}

.user-wrapper {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.user-age {
    color: brown;
}

.user-email {
    width: 100%;
    color: grey;
}
