* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input,
option,
select {
    width: 120px;
    padding: 0.5rem 1rem;

    font-size: 1.2rem;
    font-weight: 400;
}

option {
    width: auto;
}

.page-wrapper {
    max-width: 1000px;
    min-width: 500px;
    height: auto;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2rem;

    /* border: 2px solid black; */

    background-color: antiquewhite;
}

.header-wrapper {
    width: 100%;
    height: 4rem;

    display: grid;
    grid-template-columns: 8fr 1fr;
    align-items: center;
    gap: 2rem;

    position: relative;
    padding: 1rem;

    background-color: aqua;
}

.AS-wrapper {
    width: 100%;

    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;

    border: 2px solid;

    background-color: yellow;
}

.nav-wrapper {
    width: 46%;
    height: 6rem;

    display: grid;
    grid-template-columns: 2fr 5fr;

    align-items: center;
    /* gap: 1rem; */

    margin: 0.5rem;

    padding: 0.5rem;

    border: 2px solid black;
}

.image-wrapper {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;

    align-items: center;
    gap: 0.2rem;

    background-color: aliceblue;
}

.constr-year-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;

    align-items: center;
    gap: 0.2rem;

    background-color: aliceblue;
}

.img-URL-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.image-URL {
    width: 100%;
}

.register-btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    align-items: center;

    padding: 1rem;

    background-color: aliceblue;
}

.input-Btn {
    width: 100%;
}

.year-Btn {
    width: 100%;
}

#confirmation-wrapper {
    width: 180x;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    left: 0;
    top: 0;

    padding: 0.5rem;
    position: absolute;
    background-color: rgb(231, 233, 122);
    border: 1px solid black;
}

.confirm-btn-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#yes-button,
#no-button {
    height: 2rem;
    padding: 0.2rem 0.3rem;
    background-color: grey;
}

#infoBox {
    width: 100%;
    height: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px dashed red;
}
