:root {
    --bacground: rgb(164, 199, 201);
}

html,
body {
    max-width: 100vw;

    margin: 1rem;
}

body {
    background-color: bisque;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
