:root {
    --main-bgr-color: white;
    --main-color: black;

    --min-pg-width: 350px;
    --max-pg-width: 1600px;
    --min-pg-height: 500px;
    --main-img-height: 600px;

    --main-spacing: 2rem;
    --central-gap: 4rem;
    --section-spacing: 8rem;
    --mini-section-spacing: 3rem;
}

@font-face {
    font-family: "My-font";
    src: url("./assests/fonts/Saira_Extra_Condensed/SairaExtraCondensed-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

.page-wrapper {
    font-family: "My-font";
    font-weight: 100;
    font-style: normal;
}

h1 h2 h3 h4 h5 h6 button {
    all: unset;
}

h1 {
    font-size: 5.5vw;
    line-height: 1.3;
    font-weight: 500;
    letter-spacing: 0px;
}

h2 {
    font-size: 3vw;
    line-height: 1;
    letter-spacing: 0px;
    font-weight: 300;
}

h3 {
    font-size: 2rem;
    line-height: 1;
    letter-spacing: 0;
}

h4 {
    font-size: 1.3rem;

    font-weight: 200;
}

h5 {
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 100;
}

button {
    height: 1rem;
    border: none;
}

.standart-btn {
    padding: 0.8rem 1.8rem;

    border: 1px solid var(--main-color);

    background-color: none;
}

ul {
    list-style: none;
}

a {
    color: var(--main-color);

    font-size: var(--nav-font-size);
}

.standart-img-wrapper {
    height: var(--main-img-height);
    padding-bottom: var(--section-spacing);
}

img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

p {
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-align: justify;
}

/* PAGE STYLES ---------------------------------------------- */
body {
    min-width: var(--min-pg-width);
}

.page-wrapper {
    min-height: var(--min-pg-height);

    margin: 3rem;

    background-color: var(--main-bgr-color);

    /* background-color: aqua; */
}

.header-wrapper {
    height: 5rem;
    width: 100%;

    padding: 0.5rem;

    display: grid;
    grid-template-columns: auto 1fr auto;
}

.nav-wrapper {
    height: 100%;

    padding-left: 0.5rem;

    display: flex;
    align-items: center;
}

.nav-wrapper ul {
    display: flex;

    gap: 1rem;
}

.nav-wrapper a {
    text-decoration: none;
}

.logo {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.booking-nav-wrapper {
    height: 100%;

    display: flex;
    justify-content: end;
    align-items: center;
}

.booking-btn {
    height: 90%;

    background-color: var(--main-color);
    color: var(--main-bgr-color);
}

.booking-btn h5 {
    padding-left: 1rem;
    padding-right: 1rem;
    letter-spacing: -1px;
}

.burger-btn {
    all: unset;
    height: 100%;
    width: 4rem;

    display: none;
}
.burger-btn img {
    width: 100%;
}

.intro-wrapper {
    height: var(--main-img-height);

    display: flex;
    flex-direction: column;
    justify-content: end;

    margin-bottom: 0.2rem;

    background-image: url(./assests/images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-wrappper {
    height: 2rem;

    margin: 0.5rem 1rem;

    display: flex;
    justify-content: space-between;

    color: var(--main-bgr-color);
}

.working-period {
    text-align: left;
    letter-spacing: 1px;
}

.phone {
    text-align: center;
    letter-spacing: 1px;
}

.address {
    text-align: right;
    letter-spacing: 1px;
}

.services-section-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: var(--main-color);
}

.all-services-wrapper {
    width: 70%;

    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    color: var(--main-bgr-color);

    background-color: var(--main-color);
}

.services-head h3 {
    font-weight: 100;
}

.line {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.line hr {
    width: 100%;
}

.service-nav-wrapper {
    display: flex;
    justify-content: space-between;
}

.service-btn {
    color: var(--main-bgr-color);

    background-color: var(--main-color);
}

.service-btn h3 {
    font-weight: 100;
}

.visit-btn {
    height: 4rem;
    width: 50%;
}

.visit-btn h5 {
    font-weight: 600;
    letter-spacing: -1px;
}

.booking-section-wrapper {
    width: 100%;
    height: 600px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--central-gap);

    background-color: aqua;
}

.booking-wrapper {
    /* height: 70%;
    display: flex;
    flex-direction: column; */
}
.vaze-wrapper {
    /* height: 100%; */
    width: 100%;
    /* display: flex;
    flex-direction: column;

    justify-content: end; */

    background-color: yellow;
}

.vaze-wrapper div {
    /* height: 70%;

    background-color: beige; */
}

.booking-art-wrapper {
    justify-content: center;
}

.tatoo-img-wrapper {
    justify-content: start;
}

.booking-img-wrapper {
    /* width: 100%; */
}
