.main-section-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;

    background-color: thistle;
}

.line-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;

    gap: 1rem;
}

.line-wrapper h3 {
    width: 170px;
}

.line-wrapper input {
    width: 300px;
    font-size: 1rem;
    padding: 0.3rem;
}

.info-message {
    width: 300px;
    height: 3rem;

    display: flex;
    align-items: center;

    font-size: 1rem;

    padding: 0.3rem;

    border: 2px solid black;
}

.button-style {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
    font-weight: 500;

    padding: 0.5rem;
}
