* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-wrapper {
    max-width: 700px;
    height: auto;

    margin-left: auto;
    margin-right: auto;

    padding: 3rem;

    border: 2px solid grey;

    background-color: bisque;
}

.header-wrapper {
    width: 100%;
    height: 5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    margin-bottom: 1rem;

    padding: 1rem 2rem;

    border: 1px solid black;
}

.del-nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrapper button {
    width: 80px;
    height: 3rem;
    padding: 0.3rem 0.6rem;

    position: relative;

    flex: 1;

    font-size: 1rem;

    color: white;

    cursor: pointer;
}

#tempDelete {
    background-color: rgb(214, 110, 49);
}

#restore {
    background-color: rgb(87, 175, 91);
}

#totalyDelete {
    background-color: red;
}

#exit {
    background-color: black;
}

#real-estate-wrapper {
    width: 100%;

    padding: 2rem 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    background-color: bisque;
}

.estate-card-wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2rem;

    padding: 1rem;

    border: 2px solid black;

    background-color: rgb(203, 224, 179);
}

.img-wrapper {
    width: 100%;
}
#card-img {
    width: 100%;
    object-fit: contain;
}

.data-wrapper {
    width: 100%;

    display: flex;
    justify-content: space-between;

    gap: 1rem;

    flex-wrap: wrap;

    padding: 1rem;

    border: 1px solid blue;
}

.data-pair-wrapper1,
.data-pair-wrapper2 {
    display: flex;
    align-items: center;

    border: px solid green;
}

.data-pair-wrapper1 {
    width: 56%;
}

.data-pair-wrapper2 {
    width: 40%;
}

.type-name,
.location-name,
.email-name {
    width: 90px;
}

.year-name,
.price-name,
.phone-name {
    width: 100px;
}

#confirmation-wrapper {
    width: 180x;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    left: 0;

    padding: 0.5rem;
    position: absolute;
    background-color: rgb(231, 233, 122);
    border: 1px solid black;
}

.confirm-btn-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#yes-button,
#no-button {
    height: 2rem;
    padding: 0.2rem 0.3rem;
    background-color: grey;
}

#infoBox {
    width: 100%;
    height: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px dashed red;
}
