* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    width: 80px;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.page-wrapper {
    max-width: 1000px;
    min-width: 500px;

    height: auto;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2rem;

    background-color: antiquewhite;
}

.header-wrapper {
    width: 100%;
    height: 4rem;

    display: grid;
    grid-template-columns: 8fr 1fr;
    align-items: center;
    gap: 2rem;

    padding: 1rem;
}

.header-nav-wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.5rem;
}

#temp-deleted {
    width: 70px;
    display: flex;
    justify-content: space-between;
}

.section-wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    margin-top: 2rem;
    padding: 1rem;

    border: 1px solid rgb(17, 196, 106);
}

.section-wrapper h2 {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
}

.estateImage {
    width: 100%;
}

.main-info-wraprer {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    padding: 1rem;

    background-color: aqua;
}

.price-wraprer,
.location-wraprer {
    display: flex;
    justify-content: start;
    align-items: center;

    all: unset;
}
