.card-wrapper {
    width: 200px;
    height: 300px;

    display: flex;
    flex-direction: column;
    align-items: bottom;
    justify-items: bottom;
    gap: 0.6rem;

    overflow: hidden;

    background-color: var(--bacground);

    border-radius: 10px;
}

.card-wrapper img {
    width: 100%;
    height: 75%;

    object-fit: cover;
}

.card-wrapper h4 {
    width: 100%;
    height: 20%;

    object-fit: cover;

    padding: 0.5rem;
}
