.page-wrapper {
    width: 700px;
    height: auto;
    padding: 2rem 3rem;
}

.header-wrapper {
    width: 100%;
    height: 5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;
    background-color: rgb(200, 226, 104);
}

.header-wrapper button {
    height: 3rem;
    padding: 0.3rem 0.6rem;

    cursor: pointer;
}

#top-games-wrapper {
    width: 100%;

    padding: 2rem 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    background-color: bisque;
}

.card {
    width: 100%;
    padding: 2rem;

    border: 2px solid black;
    border-radius: 10px;

    cursor: pointer;

    background-color: rgb(203, 224, 179);
}

.image {
    width: 100%;
    object-fit: contain;
}

.title {
    text-decoration: underline;
}

.real-plat-wrapper {
    display: flex;
    justify-content: space-between;

    padding: 2rem 0;
}

.realise-date {
    color: rgb(32, 35, 204);
}

.platforms {
    color: green;
}

.discription {
    padding: 2rem 0;

    text-align: justify;
}
