.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1rem;
  margin: auto;
  padding-top: 4rem;
}

.form input {
  padding: 0.4rem;
}

.form button {
  padding: 0.4rem;
}

.danger {
  color: brown;
  margin: 0;
}

.success {
  color: rgb(63, 165, 42);
  margin: 0;
}
