.page-wrapper {
    width: 700px;
    height: auto;
    padding: 2rem 3rem;
}

.header-wrapper {
    width: 100%;
    height: 5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;
    background-color: rgb(117, 218, 193);
}

.del-nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrapper button {
    width: 80px;
    height: 3rem;
    padding: 0.3rem 0.6rem;

    position: relative;

    flex: 1;

    font-size: 1rem;

    color: white;

    cursor: pointer;
}

#tempDelete {
    background-color: rgb(214, 110, 49);
}

#restore {
    background-color: rgb(87, 175, 91);
}

#totalyDelete {
    background-color: red;
}

#exit {
    background-color: black;
}

#top-games-wrapper {
    width: 100%;

    padding: 2rem 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    background-color: bisque;
}

.card {
    width: 100%;
    padding: 2rem;

    border: 2px solid black;
    border-radius: 10px;

    cursor: pointer;

    background-color: rgb(203, 224, 179);
}

.image {
    width: 100%;
    object-fit: contain;
}

.title {
    text-decoration: underline;
}

.real-plat-wrapper {
    display: flex;
    justify-content: space-between;

    padding: 2rem 0;
}

.realise-date {
    color: rgb(32, 35, 204);
}

.platforms {
    color: green;
}

.discription {
    padding: 2rem 0;

    text-align: justify;
}

#confirmation-wrapper {
    width: 200px;
    height: 90px;

    display: flex;
    flex-direction: column;
    align-items: center;

    left: 100px;

    padding: 0.5rem;
    position: absolute;
    background-color: rgb(231, 233, 122);
    border: 1px solid black;
}

.confirm-btn-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#yes-button,
#no-button {
    height: 2rem;
    padding: 0.2rem 0.3rem;
    background-color: grey;
}
