* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    width: 120px;
    padding: 0.5rem 1rem;
}

.page-wrapper {
    width: 800px;
    height: auto;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2rem;

    background-color: antiquewhite;
}

.header-wrapper {
    width: 100%;
    height: 4rem;

    display: grid;
    grid-template-columns: 8fr 1fr 1fr;
    align-items: center;
    gap: 2rem;

    padding: 1rem;

    background-color: aqua;
}
