* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-wrapper {
    width: 400px;

    margin: auto;
}




.input-wrapper {
    width: 100%;

    margin: auto;
    margin-top: 3rem;

    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    background-color: aquamarine;
}

.input-wrapper label {
    width: 100%;

}

.input-wrapper input {
    width: 100%;
    padding: 0.5rem;
}


.input-wrapper button {
    width: 50%;
    padding: 0.5rem;

}

.message {
    width: 100%;
    height: 200px;

    background-color: greenyellow;
    border: 1px solid black;



}