:root {
    --min-pg-width: 350px;
    --max-pg-width: 1600px;
    --min-pg-height: 500px;

    /* bacground colors */
    --bgr-color: rgb(255, 252, 224);
    --main-color: black;
    --site-red-color: rgb(226, 69, 70);
    --site-light-red-color: rgb(201, 132, 163);

    /* spacing (paddings) */
    --main-spacing: 2rem;
    --vertical-gap: 4rem;
    --section-spacing: 5rem;

    /* images sizes and corners radius */
    --big-img-size: 700px;
    --intro-img-size: ;
    --feedback-img-size: ;
    --stories-img-size: ;

    /* font size for navigation elements */
    --nav-font-size: 1.2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "halant-regular";
    src: url("./assest/fonts/Halant/Halant-Regular.ttf");
}

body {
    font-family: "halant-regular";

    font-size: 16px;
}

h1 h2 h3 h4 h5 h6 button {
    all: unset;
}

h1 {
    font-size: 8vw; /* font size depend on screel width*/
    font-weight: 100;
    line-height: 1;
    letter-spacing: -4px;
}

h2 {
    font-size: 6vw; /* font size depend on screel width*/
    font-weight: 100;
    line-height: 1;
    letter-spacing: -2px;
}

h3 {
    font-size: 3rem;
    font-weight: 100;
    line-height: 1;
    letter-spacing: -3px;
}

h4 {
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: -2px;
}

h5 {
    font-size: 1.3rem;
    font-weight: 100;
    letter-spacing: -2px;
}

/* Standart styles */
.standart-sect-pad {
    padding: 0 var(--main-spacing);
    padding-bottom: var(--section-spacing);
}

button {
    all: unset;
    border: none;
}

button img {
    background-color: none;
    object-fit: cover;
}

button:hover {
    cursor: pointer;
}

.rectangle-btn {
    padding: 0.3rem 1rem;

    background-color: var(--site-red-color);
    color: white;
}

.rectangle-btn:hover {
    background-color: var(--site-light-red-color);
}

.circle-btn {
    background-color: var(--site-light-red-color);
}

.circle-btn:hover {
    background-color: var(--site-red-color);
}

ul {
    list-style: none;
}

li a {
    color: var(--main-color);
    text-decoration: none;
    font-size: var(--nav-font-size);
}

.standart-img-style {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.standart-icon-style {
    all: unset;
    height: var(--nav-font-size);
}

.right-arrow img {
    rotate: 180deg;
}

/*************************************************************************************************/
/*                              P A G E    S T Y L E S                                           */
/*************************************************************************************************/
body {
    min-width: var(--min-pg-width);
}

.main-wrapper {
    min-height: var(--min-pg-height);

    background-color: var(--bgr-color);
}

.header-wrapper {
    width: 100%;
    height: var(--big-img-size);

    padding-top: var(--main-spacing);
    margin-bottom: 1rem;

    background-image: url(./assest/images/header/header-background.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-line-wrapper {
    height: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav-wrapper ul {
    display: flex;
    justify-content: center;

    gap: var(--main-spacing);
}

.header-contact-wrapper ul {
    display: flex;
    justify-content: end;
    align-items: end;
}

.instagram-button {
    padding-right: 1rem;
}

.burger-button {
    width: 4rem;
    height: 2.5rem;

    display: flex;
    justify-content: start;
    align-items: start;

    overflow: hidden;

    display: none;
}

.burger-button img {
    width: 100%;
    height: 4rem;
}

.main-section-wrapper h1 {
    text-align: center;

    color: var(--site-red-color);

    background-color: aquamarine;
}

.star-werapper {
    height: 6rem;

    display: flex;
    justify-content: center;

    padding-bottom: 1rem;
    background-color: yellow;
}

.star-werapper {
    object-fit: cover;
}

.p-group-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    padding-bottom: var(--section-spacing);

    background-color: burlywood;
}

.main-p-wrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;

    color: var(--site-red-color);
    background-color: rgb(224, 236, 225);
}

.main-p-wrapper p {
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: -2px;
    line-height: 3rem;
}

.main-p-wrapper a {
    text-align: center;
    color: var(--site-red-color);
}

.hero-wrapper {
    display: flex;

    gap: var(--vertical-gap);

    padding: 1.5rem;

    background-color: var(--bgr-color);
}

.info_text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: yellow;
}

.intro-head {
    padding-bottom: var(--section-spacing);

    background-color: blueviolet;
}

.info_text-wrapper p {
    font-size: 1.3rem;
    letter-spacing: -1px;
    padding-bottom: var(--main-spacing);
}

.info_text-wrapper a {
    padding-top: var(--main-spacing);
    color: black;
}

.hero-img-wrapper {
    width: 135%;

    border-radius: 50%;
}

.hero-img-wrapper button {
    width: 100%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    overflow: hidden;
}

.info_text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: yellow;
}

.main-info-wrapper {
    display: flex;

    margin-top: var(--section-spacing);
    padding-right: 0;
}

.main-img-wrapper {
    width: 100%;
}

.main-text-wrapper {
    width: 105%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-right: 0;

    color: var(--site-red-color);

    background-color: yellow;
}

.main-text-wrapper p {
    font-size: 5vw;
    line-height: 5.5vw;
    text-align: center;
}

.hero-intro-wrapper h5 {
    padding-bottom: var(--main-spacing);
}

.main-text-wrapper a {
    padding-top: var(--main-spacing);
    color: var(--site-red-color);
}
