:root {
    --main-bgr-color: white;
    --main-color: black;

    --min-pg-width: 350px;
    --max-pg-width: 1600px;
    --min-pg-height: 500px;
    --main-img-height: 600px;
    --booking-img-hight: 60%;

    --main-spacing: 2rem;
    --central-gap: 4rem;
    --section-spacing: 4rem;
    --mini-section-spacing: 3rem;
}

@font-face {
    font-family: "My-font";
    src: url("./assests/fonts/Saira_Extra_Condensed/SairaExtraCondensed-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

.page-wrapper {
    font-family: "My-font";
    font-weight: 100;
    font-style: normal;
}

h1 h2 h3 h4 h5 h6 button {
    all: unset;
}

h1 {
    font-size: 5.5vw;
    line-height: 1.3;
    font-weight: 500;
    letter-spacing: 0px;
}

h2 {
    font-size: 3vw;
    line-height: 1;
    letter-spacing: 0px;
    font-weight: 300;
}

h3 {
    font-size: 2rem;
    line-height: 1;
    letter-spacing: 0;
}

h4 {
    font-size: 1.3rem;

    font-weight: 200;
}

h5 {
    font-size: 1.3rem;
    letter-spacing: 2px;
    font-weight: 100;
}

button {
    height: 1rem;
    border: none;
}

button:hover {
    cursor: pointer;
}

ul {
    list-style: none;
}

a {
    color: var(--main-color);

    font-size: var(--nav-font-size);
}

img {
    width: 100%;
    height: auto;
    display: block;

    object-fit: cover;
}

p {
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-align: justify;
}

/* PAGE STYLES ---------------------------------------------- */
body {
    min-width: var(--min-pg-width);
}

.page-wrapper {
    min-height: var(--min-pg-height);

    margin: 3rem;
    margin-top: 1rem;

    background-color: var(--main-bgr-color);
}

.header-wrapper {
    height: 5rem;
    width: 100%;

    padding: 0.5rem;

    display: grid;
    grid-template-columns: auto 1fr auto;
}

.nav-wrapper {
    height: 100%;

    padding-left: 0.5rem;

    display: flex;
    align-items: center;
}

.nav-wrapper ul {
    display: flex;

    gap: 1rem;
}

.nav-wrapper a {
    text-decoration: none;
}

.logo {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h2 {
    font-size: 1.8rem;
}

.booking-nav-wrapper {
    height: 100%;
    width: 250px;

    display: flex;
    justify-content: end;
    align-items: center;
}

.book-btn-wrapper {
    height: 90%;

    margin-right: 1rem;
}

.book-btn-wrapper button {
    height: 90%;

    padding: 1rem 2rem;

    font-size: 1rem;
    letter-spacing: -1.5px;

    background-color: var(--main-color);
    color: var(--main-bgr-color);
}

.burger-btn-wraper button {
    all: unset;
    height: 100%;
    width: 4rem;

    display: none;
}
.burger-btn img {
    width: 100%;
}

.intro-wrapper {
    height: var(--main-img-height);

    display: flex;
    flex-direction: column;
    justify-content: end;

    margin-bottom: 0.2rem;

    background-image: url(./assests/images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-wrappper {
    height: 2rem;

    margin: 0.5rem 1rem;

    display: flex;
    justify-content: space-between;

    color: var(--main-bgr-color);
}

.working-period {
    text-align: left;
    letter-spacing: 1px;
}

.phone {
    text-align: center;
    letter-spacing: 1px;
}

.address {
    text-align: right;
    letter-spacing: 1px;
}

.services-section-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: var(--main-color);
}

.all-services-wrapper {
    width: 70%;

    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding-top: var(--main-spacing);
    padding-bottom: var(--main-spacing);
    color: var(--main-bgr-color);

    background-color: var(--main-color);
}

.service-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.services-head h3 {
    font-size: 1.8rem;
    font-weight: 100;
}

.service-navigation {
    display: flex;
    justify-content: end;
}

.line {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.line hr {
    width: 100%;
}

.service-nav-wrapper {
    display: flex;
    justify-content: space-between;
}

.service-navigation button {
    width: 50%;

    font-size: 2rem;
    line-height: 1;
    letter-spacing: 0;
    font-weight: 100;

    color: var(--main-bgr-color);

    background-color: var(--main-color);
}

.visit-btn {
    height: 3rem;
    width: 70%;

    padding-left: 2rem;
    padding-right: 2rem;

    font-size: 1rem;
    font-weight: 600;
    letter-spacing: -1.5px;
}

.booking-section-wrapper {
    width: 100%;

    margin-top: var(--main-spacing);
    margin-bottom: var(--section-spacing);

    display: flex;
    justify-content: center;
    gap: var(--central-gap);
}

.vaze-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.vaze-wrapper img {
    height: 80%;
}

.booking-art-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.booking-meniu-wrapper {
    height: var(--booking-img-hight);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.booking-meniu-wrapper p {
    line-height: 1.3rem;
}

.booking-btn {
    height: 3rem;
    width: 60%;

    font-size: 1rem;
    letter-spacing: -2px;

    color: var(--main-bgr-color);
    background-color: var(--main-color);
}

.tatoo-wrapper {
    flex: 1;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.tatoo-wrapper img {
    height: 50%;
}

.footer-wrapper {
    height: 4rem;

    padding: var(--main-spacing);

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--main-bgr-color);
    background-color: var(--main-color);
}

.footer-nav-wrapper ul {
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.footer-nav-wrapper a {
    height: 2.5rem;

    padding-left: 4px;
    padding-right: 4px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--main-bgr-color);

    /* border: 1px solid black; */
}

.footer-nav-wrapper img {
    height: 2rem;

    object-fit: cover;
}

@media (max-width: 768px) {
    .header-wrapper {
        height: 9rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-wrapper {
        display: none;
    }

    .header-wrapper {
        padding-left: var(--main-spacing);
    }

    .booking-nav-wrapper {
        padding-right: var(--section-spacing);
    }

    .book-btn-wrapper button {
        display: none;
    }

    .burger-btn-wraper button {
        display: flex;
    }

    .phone {
        display: none;
    }

    .services-section-wrapper {
        display: flex;
        flex-direction: column;

        gap: var(--section-spacing);
    }

    .booking-section-wrapper {
        height: 60%;
        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;

        padding: 0;
    }

    .tatoo-wrapper {
        margin-left: 40%;
    }

    .tatoo-wrapper img {
        height: 25vh;
    }
    .booking-meniu-wrapper {
        margin-left: 0;
        padding-left: var(--section-spacing);
        padding-right: var(--section-spacing);
    }

    .vaze-wrapper {
        margin-right: 30%;
    }
    .vaze-wrapper img {
        height: 40vh;
    }

    .footer-wrapper {
        padding-left: 3rem;
    }
}
