.tasks-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

.tasks-wrapper > input {
    padding: 0.6rem;
}

.tasks-wrapper > button {
    padding: 0.6rem;
    cursor: pointer;
}
