* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
  background-color: antiquewhite;
  border-radius: 1rem;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.page-wrapper {
  padding-left: 4rem;
  padding-right: 4rem;
}

#game-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  padding-top: 2rem;
  margin-bottom: 1rem;
}

#delete-btn {
  background-color: brown;
  color: white;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
}

header {
  height: 100px;
  background-color: beige;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  justify-content: space-between;
}

header div {
  font-size: 2rem;
}

header nav ul {
  list-style: none;
}
