*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;



}

.body-wrapper{
    min-width: 350px;

    padding: 1rem;

    background-color: antiquewhite;
}

.header-wrapper{
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:2rem;

    padding: 1rem;


    background-color: aqua;
}

.logo-wrapper{
    height:100%;
}

.logo-wrapper img{
    height:100%;
}

.title-group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem   ;

 
}






.nav-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:2rem;

    font-size: 1rem;    
    background-color: coral;
}

.nav-wrapper ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;

}

.nav-wrapper ul li{
    list-style: none;

    font-size: 1.2rem; 
    
  
}

.nav-user-wrapper h4{
    font-size: 1.5rem;    
  

}


.main-wrapper{
    /* height: 200px; */
}



.section-wrapper{
    width: 100%;

    padding: 1rem;

    background-color: greenyellow;
}

.main-section-wrapper{
    /* width: 60%;  */

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:2rem;

    background-color:rgb(27, 90, 8)
}

.questions-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;

    padding: 1rem;

    background-color: yellow;
}

.list-line-wrapper{
    /* width: 60%;  */
    display: flex;
    justify-content: start;
    align-items: center;
    gap:1rem;

    background-color: aqua;

}
.list-line-wrapper h4{
    text-align: left;
}
.answers-line-wrapper{
    /* width: 60%;  */
    display: flex;
    justify-content: start;
    align-items: center;
    gap:1rem;

    background-color: aqua;

}


.answers-wrapper fieldset{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.main-nav-wrapper{
    /* width: 20%; */
}

.main-nav-wrapper  ul{
 
    display: flex;
     justify-content: start;
    align-items: center; 
    gap: 1rem;

    padding: 1rem;

    background-color:rgb(167, 142, 106);
}

.main-nav-wrapper ul li{
    list-style: none;
}

.main-nav-wrapper button{
    width: 130px;

    padding: 0.3rem;

    border: 2px solid black;
    border-radius: 8px;
}