* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-wrapper {
    width: 800px;
    height: 800px;

    margin: 3rem;
    padding: 2rem;

    color: white;
    border: 2px solid black;
    background: green;
}

.header-wrapper h1 {
    text-align: center;

    padding-bottom: 2rem;
}
.header-wrapper p {
    padding: 1rem;
    margin-bottom: 2rem;

    border: 1px dashed blue;
}

.main-wrapper {
    display: flex;
    justify-content: space-between;
}

.field-wrapper {
    width: 500px;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    border: 1px solid black;
    /* background-color: aqua; */
}

.line-wrapper {
    height: 100px;
    width: 100%;

    display: flex;

    background-color: grey;
}

.square {
    /* width: 55px; */
    /* width: calc(500px / 10); */
    /* height: 100px; */
    /* height: 100px; */

    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.7rem;
    font-weight: 500;

    border: 1px solid rgb(9, 238, 85);
}

.meniu-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 3rem;

    padding: 1rem;

    border: 2px solid yellow;
}

.score-wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.score-wrapper label {
    text-align: center;

    padding: 0.5rem;

    border: 2px dotted black;
}

.start-wrapper {
    width: 80%;
    display: flex;
    justify-content: center;
}

.btn-start {
    padding: 1rem;

    color: red;
}
