* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-wrapper {
    width: 800px;
    height: 1000px;

    margin: 3rem;
    padding: 2rem;

    color: white;
    border: 2px solid black;
    background: green;
}

.header-wrapper h1 {
    text-align: center;

    padding-bottom: 2rem;
}
.header-wrapper p {
    padding: 1rem;
    margin-bottom: 2rem;

    border: 1px dashed blue;
}

.main-wrapper {
    display: flex;
    justify-content: space-between;
}

.field-wrapper {
    width: 500px;
    /* height: 500px; */

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;

    border: 1px solid black;
    /* background-color: aqua; */
}

.cursor-box {
    position: absolute;
    /* left: 2px;
    top: 2px; */

    border: 3px solid yellow;
    border-radius: 5px;
}

.line-wrapper {
    width: 100%;

    flex: 1;
    flex-grow: 1;

    display: flex;

    background-color: grey;
}

.square {
    /* height: 90px; */

    flex: 1;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.7rem;
    font-weight: 500;

    border: 1px solid rgb(9, 238, 85);
}

.meniu-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 3rem;

    padding: 1rem;

    border: 2px solid yellow;
}

.score-wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.score-wrapper label {
    text-align: center;

    padding: 0.5rem;

    border: 2px dotted black;
}

.start-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-start {
    width: 80%;
    padding: 1rem;

    color: red;
}

.footer-wrapper {
    width: 100%;

    margin-top: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border: 1px dashed red;
}

.driver-wrapper {
    width: 500px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cursor-btn {
    width: 130px;
    font-size: 1.5rem;
    font-weight: 600;

    color: brown;

    border-radius: 20px;

    padding: 1rem;
}
