.user-wrapper {
    width: 80%;
    margin: auto;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.user-input-wrapper {
    display: flex;
    gap: 2rem;
}
