* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.page-wrapper{
    
}


.main-wrapper {
    width: 300px;

    padding-top: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.user-image {
    height: 300px;

    object-fit: cover;
}

.user-wrapper {
    width: 100%;

    display: flex;
    justify-content: space-between;

    background-color: aqua;
}

.user-age {
    color: brown;
}

.user-email {
    columns: grey;
    background-color: chartreuse;
}