* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#cocktail-wrapper {
    padding-top: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#cocktail-wrapper p {
    text-align: center;
}

.indicator {
    height: 20px;
    width: 20px;
    border-radius: 50%;

}