.section-wrapper {
    width: 100%;

    padding: 1rem;

    background-color: greenyellow;
}

.main-section-wrapper {
    /* width: 100%; */

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    background-color: thistle;
}

.top-list-wrapper {
    width: 100%;

    background-color: rgb(42, 169, 173);
}

.top-user-line {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.top-user-line h4 {
    text-align: left;
}

.main-nav-wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;

    background-color: rgb(167, 142, 106);
}

.main-nav-wrapper ul li {
    list-style: none;
}
