* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page-wrapper {
  padding-left: 4rem;
  padding-right: 4rem;
}

header {
  height: 100px;
  background-color: beige;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  justify-content: space-between;
}

header div {
  font-size: 2rem;
}

header nav ul {
  list-style: none;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.title {
  text-align: center;
  margin-top: 2rem;
}

.form input {
  padding: 0.3rem 0.6rem;
}

#submit-btn {
  padding: 0.3rem 0.6rem;
}
